{
  "parser": "@babel/eslint-parser",
  "extends": "eslint:recommended",
  "rules": {
    "no-unused-vars": "off",
    "io": "off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "io"
  }
}